body{
    width: auto;
    height: auto;
}
.navbar{
    width: auto;
    height: 10vh;
    display: float;
    background: red;
    border: 5px black solid;
}
.frow{
    width: auto;
    height: 50vh;
    background: green;
    position: relative;
    z-index: 5;
    display: flex;

}
.srow{
    width: auto;
    height: 50vh;
    background: yellow;
    position: relative;
    z-index: 2;
    display: flex;
    top: 50%;
}
.trow{
    width: auto;
    height: 50vh;
    background: brown;
    position: relative;
    z-index: 2;
    display: flex;
    top: 50%;
}
.left{
    width: 33%;
    position: inherit;
    z-index: 1;
    display: flex;
    height: 50vh;
    margin-left: 0%;
    
    top: 0%;
    background: ;
    flex-direction: column;
    border: 5px black solid;
}
.center{
    width: 33%;
    position: inherit;
    z-index: 1;
    display: flex;
    height: 50vh;
    margin-left: 0%;
    
    top: 0%;
    background: ;
    flex-direction: column;
    border: 5px black solid;
}
.right{
    width: 33%;
    position: inherit;
    z-index: 1;
    display: flex;
    height: 50vh;
    margin-left: 0%;
    
    top: 0%;
    background: ;
    flex-direction: column;
    border: 5px black solid;
}